<?xml version="1.0" encoding="utf-16"?>
<GameSettings
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <DailyHealthChange>-2</DailyHealthChange>
    <DailySatiationChange>-10</DailySatiationChange>
    <DailyHappinesChange>-5</DailyHappinesChange>
    <DailyMindChange>-1</DailyMindChange>
    <StipendPayoutFrequency>30</StipendPayoutFrequency>
    <MindToUpLevel>30</MindToUpLevel>
</GameSettings>
